<div class="form">
  <div class="row mg-top-10">
    <form action="/signup" method="POST" class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="first_name" type="text" class="validate" name="username" required="" aria-required="true">
          <label for="first_name">Username</label>
          <span class="helper-text" data-error="wrong" data-success="right"></span>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate" name="email" required="" aria-required="true">
          <label for="email">Email</label>
          <span class="helper-text" data-error="wrong" data-success="right"></span>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate" name="password" required="" aria-required="true">
          <label for="password">Password</label>
          <span class="helper-text" data-error="wrong" data-success="right"></span>
        </div>
      </div>
      <div class="mg-5">
        <input type="submit" value="SIGN UP" class="waves-effect waves-light btn">
      </div>
    </form>
  </div>
</div>

<div class="form-error-login">
  {{#if message}}
  <p class="error-message red-text">{{message}}</p>
  {{/if}}
  <p class="account-message">
    Do you already have an account?
    <a href="/login">Login</a>
  </p>
</div>