<section id="section-index">
  <div class="background-image"></div>
  <div class="index-text">
    <h1>SCHEDULE YOUR TASK</h1>
    <div class="text-p">
      <p class="font-lora">Simple agenda is a easy and simple way to do your everyday tasks,
        organazing on the plataform by events and provided services.</p>
    </div>
    <a class="waves-effect waves-light btn" href="/signup">Create Account</a>
  </div>
</section>