body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

nav.nav-center ul {
  text-align: center; }

nav.nav-center ul li {
  display: inline;
  float: none; }

nav.nav-center ul li a {
  display: inline-block; }

.form {
  width: 300px !important;
  margin: 8% auto 0 auto;
  padding: 5px 5px;
  text-align: center;
  background-color: rgba(158, 156, 156, 0.3);
  color: black; }

.form-error-login {
  width: 300px !important;
  margin: 1% auto;
  padding: 5px 5px;
  text-align: center;
  background-color: rgba(158, 156, 156, 0.3);
  color: black; }

body {
  background-image: url("../images/background.jpg");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0px 0px;
  padding: 0px; }

.pd-10 {
  margin-left: 50px; }

.mg-5 {
  margin-top: 5% !important; }

.mg-10 {
  margin-top: 10px !important; }

.font-source-sans-pro {
  font-family: 'Source Sans Pro', sans-serif; }

.font-lora {
  font-family: 'Lora', serif; }

.index-text {
  margin-top: 10%;
  text-align: center; }

.index-text h1 {
  font-size: 8vh;
  font-weight: bolder; }

.index-text p {
  font-size: 4vh;
  width: 60%;
  margin: 0 auto 42px; }

.logo {
  font-size: 5vh !important; }

.mg-top-10 {
  margin-top: 10px !important; }

.containerListEvent {
  color: black; }

.datepicker, .timepicker {
  width: 150px !important;
  color: black;
  text-align: center; }

::-webkit-input-placeholder {
  text-align: center; }

select option span {
  color: black !important; }

#btnFloat {
  position: fixed;
  right: 50px;
  bottom: 50px; }

h3 {
  color: black;
  text-align: center; }

#container-list-services {
  width: 400px;
  margin: 5px;
  padding: 5px 5px; }

#container-service {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: 10%; }

.form-service {
  margin: 5px;
  width: 400px !important;
  padding: 5px 5px;
  text-align: center;
  background-color: rgba(158, 156, 156, 0.3);
  color: black; }

.create-acount {
  margin-top: 2%; }

.logo-img {
  margin-top: 5px;
  width: 200px; }

@media only screen and (max-width: 992px) {
  .pd-10 {
    margin-left: 0px; } }

.list-event {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin: 0 auto;
  justify-content: space-evenly; }

.card {
  border-radius: 12px !important;
  width: 250px; }

.card-action {
  display: flex;
  justify-content: space-evenly; }

.border-bottom {
  border-bottom: 5px solid #00ac9c; }

.form-search-event {
  width: 350px;
  background-color: #00ac9c;
  margin: 5% auto;
  border-radius: 14px;
  display: flex;
  flex-wrap: wrap; }

.form-search-event form {
  margin: 15px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  padding-top: 15px;
  width: 330px; }

.form-search-event form ::placeholder {
  color: white; }

.form-search-event form input {
  color: white;
  border-bottom-color: white !important; }

.form-search-event form button {
  margin-top: 8px; }

.forms {
  width: 50%;
  margin: 0 auto; }

/*# sourceMappingURL=style.css.map */